<%= form_for(@price_list) do |f| %>
  <% if @price_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price_list.errors.count, "error") %> prohibited this price_list from being saved:</h2>

      <ul>
      <% @price_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :credits_id %><br>
    <%= f.text_field :credits_id %>
  </div>
  <div class="field">
    <%= f.label :cost_per_sms %><br>
    <%= f.text_field :cost_per_sms %>
  </div>
  <div class="field">
    <%= f.label :aggregator_id %><br>
    <%= f.text_field :aggregator_id %>
  </div>
  <div class="field">
    <%= f.label :bind_detail_id %><br>
    <%= f.text_field :bind_detail_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
