<h1>Listing phonebooks</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Surname</th>
      <th>Other names</th>
      <th>Group</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phonebooks.each do |phonebook| %>
      <tr>
        <td><%= phonebook.number %></td>
        <td><%= phonebook.surname %></td>
        <td><%= phonebook.other_names %></td>
        <td><%= phonebook.group %></td>
        <td><%= phonebook.country %></td>
        <td><%= link_to 'Show', phonebook %></td>
        <td><%= link_to 'Edit', edit_phonebook_path(phonebook) %></td>
        <td><%= link_to 'Destroy', phonebook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phonebook', new_phonebook_path %>
