<p id="notice"><%= notice %></p>

<p>
  <strong>Phonebook:</strong>
  <%= @network_contact.phonebook %>
</p>

<p>
  <strong>Email:</strong>
  <%= @network_contact.email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @network_contact.location %>
</p>

<p>
  <strong>Network:</strong>
  <%= @network_contact.network %>
</p>

<%= link_to 'Edit', edit_network_contact_path(@network_contact) %> |
<%= link_to 'Back', network_contacts_path %>
